@font-face {
  font-family: Redaction;
  src: url(../fonts/Redaction-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Redaction;
  src: url(../fonts/Redaction-Italic.woff2);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Redaction;
  src: url(../fonts/Redaction-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction100;
  src: url(../fonts/Redaction_100-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Redaction100;
  src: url(../fonts/Redaction_100-Italic.woff2);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Redaction100;
  src: url(../fonts/Redaction_100-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction70;
  src: url(../fonts/Redaction_70-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Redaction70;
  src: url(../fonts/Redaction_70-Italic.woff2);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Redaction70;
  src: url(../fonts/Redaction_70-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction50;
  src: url(../fonts/Redaction_50-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Redaction50;
  src: url(../fonts/Redaction_50-Italic.woff2);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Redaction50;
  src: url(../fonts/Redaction_50-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction35;
  src: url(../fonts/Redaction_35-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Redaction35;
  src: url(../fonts/Redaction_35-Italic.woff2);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Redaction35;
  src: url(../fonts/Redaction_35-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction20;
  src: url(../fonts/Redaction_20-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Redaction20;
  src: url(../fonts/Redaction_20-Italic.woff2);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Redaction20;
  src: url(../fonts/Redaction_20-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Redaction10;
  src: url(../fonts/Redaction_10-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Redaction10;
  src: url(../fonts/Redaction_10-Italic.woff2);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Redaction10;
  src: url(../fonts/Redaction_10-Bold.woff2);
  font-weight: bold;
}
